releve.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="releve">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dateReleve" type="xs:date" />
                <xs:element name="solde" type="xs:decimal" />
                <xs:element name="operations" type="T_Operations" />
            </xs:sequence>

            <xs:attribute name="RIB" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>

    <xs:complexType name="T_Operations">
        <xs:sequence>
            <xs:element name="operation" type="T_Operation" maxOccurs="unbounded"></xs:element>
        </xs:sequence>

        <xs:attribute name="dateDebut" type="xs:date" use="required" />
        <xs:attribute name="dateFin" type="xs:date" use="required" />
    </xs:complexType>

    <xs:complexType name="T_Operation">
        <xs:attribute name="type" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="CREDIT" />
                    <xs:enumeration value="DEBIT" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>

        <xs:attribute name="date" type="xs:date" use="required" />
        <xs:attribute name="montant" type="xs:decimal" use="required" />
        <xs:attribute name="description" type="xs:string" use="optional" />
    </xs:complexType>
</xs:schema>