releve.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT releve (dateReleve, solde, operations)>
<!ELEMENT dateReleve (#PCDATA)>
<!ELEMENT solde (#PCDATA)>
<!ELEMENT operations (operation+)>
<!ELEMENT operation EMPTY>
<!ATTLIST releve
    RIB CDATA #REQUIRED
>
<!ATTLIST operations
    dateDebut CDATA #REQUIRED
    dateFin CDATA #REQUIRED
>
<!ATTLIST operation
    type (debit|credit) #REQUIRED
    montant CDATA #REQUIRED
    date CDATA #REQUIRED
    description CDATA #IMPLIED
>
